<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.metaDesc %>" />
</head>
<body>
    <%= htmlWebpackPlugin.options.myHeader %>
    <h1>
        <%= htmlWebpackPlugin.options.header %>
    </h1>
    <p>HTML template</p>
    <%= htmlWebpackPlugin.options.myFooter %>
</body>
</html>





