#style-switcher h2 a { background: #00d8ff none repeat scroll 0 0 }

/*START SCROLL TO TOP*/
#scrollUp{
	color: #fff!important;
}
#scrollUp:hover {
	background: #00d8ff none repeat scroll 0 0;
	
}
/*END SCROLL TO TOP*/


a, a:hover, a:focus,
.fot_menu li a:hover,
.testimonials_area h5 a{
    color: #00d8ff;
}
.btn:hover ,
input[type="submit"]:hover, 
input[type="submit"]:focus, 
button:hover, button:focus, 
.radon:hover, 
.radon:focus{
  border: 1px solid #00d8ff;
  color: #00d8ff;
}
input[type="submit"] {
  background: #00d8ff none repeat scroll 0 0;
  border-color: #00d8ff;
}
.btn,
.portfolio-block a:hover .port-title,
.btn-border:hover,
.nivo-directionNav a:hover,
.testimonials_area i.fa{
  background-color: #00d8ff;
  border-color: #00d8ff;
  
}
.explore_btn:hover, .explore_btn:focus {
  background: #fff none repeat scroll 0 0;
  color: #00d8ff;
  border-color: #00d8ff;
}
.client_item > a:hover{
	border-color: #00d8ff;
}
.section-title span,
.about_box:hover .about_icon,
.team-details,
.team-social-list > a:hover,
.post-slide .post-date,
.social_icons ul li a:hover,
.progress-bar > span,
.double-bounce1, .double-bounce2{
	background: #00d8ff none repeat scroll 0 0!important;
}

.about_icon,
.btn-border,
.social_icons ul li a {
  border: 1px solid #00d8ff;
  color: #00d8ff;
}
.single_services:hover .services_img span,
.single_services:hover .services_text h3,
.team-social-list > a,
.icon_color ,
.counter_area i.fa,
.form-content-area-main h3,
.price-table i,
.contact_address li span,
.social_icons ul li a,
#main_nav li a:hover, #main_nav li a:focus, #main_nav li.current a,
.testimonials_area h5,
.section-top-title ol li a:hover {
    color: #00d8ff;
}


/*START MENU*/

/*END MENU*/

